@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    /* background-color: #202945; */
    background-color: #fff;
    font: 100% system-ui;
}
h1, p
{
    /* color: #222; */
    /* color: whitesmoke; */
    color: #202945;
}
body.dark-theme
{
    /* background-color: #121212; */
    background-color: #152028;
}
body.dark-theme h1,
body.dark-theme p
{
    font-weight: 900;
    color: #eee;
}
body.dark-theme a
{
    color: #809fff;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link ul
{
    display: flex;
    column-gap: 25px;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    font-weight: 600;
    color: #13151b;
}
a:hover
{
    text-decoration: underline;
}
body.dark-theme button
{
    color: #809fff;
    border: 2px solid #809fff;
}
button
{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background: transparent;
    color: #13151b;
    border: 2px solid #202945;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
button:hover 
{
    background-color: #202945;
    color: #809fff;
    transition: all 0.2s ease-in;
}
body.dark-theme button:hover
{
    background-color: #809fff;
    color: #202945;
    transition: all 0.2s ease-in;
}
